body{
    text-align: center;
}
#app{
    width: 100%;
    height: 800px;
    background-color: aliceblue;
}
.line{
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 80px auto;
}
#gallery{
    width: 100%;
    height: 800px;
    background-color: rgb(158, 17, 17);
}
img{
    transition: transform .2s;
}
img:hover{
    transform: scale(0.9);
}
#carousel1{
    background-color: black;
}
#carousel1 img{
    height: 300px;
    margin-top: 150px;
}
.carousel-inner p{
margin-bottom: 150px;
margin-top: 150px;
color:white;
font-size: 20px;
}
